@charset "utf-8";
/* CSS reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0;padding:0;}
html,body{ 
    width: 100%;
    height: 100%;
    overflow: hidden;
    font:12px/150% Tahoma,"微软雅黑", "宋体", Arial, Helvetica, sans-serif;color:#333;
}
*{
    box-sizing: border-box;
}
table{ border-collapse:collapse; border-spacing:0;}
.clear{clear: both;}
fieldset,img{ border:0;}
a{ text-decoration:none;color:#666;}
a:hover{color:#333;text-decoration:none;}
address,caption,cite,code,dfn,em,strong,th,var,b, i{ font-style:normal; font-weight:normal;}

ol li,ul li{ list-style:none;}
caption { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%;}
q:before,q:after { content:'';}
abbr,acronym { border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

.v-modal{
    display: none!important;
}
/*文字排版*/
.f0{ font-size:0;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f24{ font-size:24px;}
.f30{ font-size:30px;}
.f36{ font-size:36px;}
.f42{ font-size:42px;}
.fw{ font-family:Tahoma,Arial,Helvetica,sans-serif;}
.fm{ font-family:"微软雅黑";}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.mt12{ margin-top: 12px; }
.mt24{ margin-top: 24px; }
.pr20{ padding-right: 20px; }
.udl{ text-decoration:underline;}
.tdn{ text-decoration:none;}
.tdl{ text-decoration:line-through;}
.wB100{ width:100%;}
.pointer{ cursor:pointer;}

/*布局*/
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{ margin-left:auto;margin-right:auto;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.cb{ clear:both;}
.cl{ clear:left;}
.cr{ clear:right;}
.clearfix:after{clear:both;content:"";display:block;height:0;visibility:hidden; font-size:0px;}
.clearfix{ zoom:1; }
.vm{ vertical-align:middle;}
.pr{ position:relative;}
.pa{ position:absolute;}
.zoom{ zoom:1;}
.hidden{ visibility:hidden;}
.block{ display:block;}
.inline{ display:inline;}
.in_b {display:inline-block;}
.in_b{ *display:inline;}
.none{ display:none;} 
.oh{ overflow:hidden;}
.ov{ overflow:visible;}


.cust_item_box {
    overflow-y:scroll;
    max-height: 540px;
}
.cust_item_box .el-checkbox{
    position: relative;
    padding:0 16px 60px;
    text-align: center;
    margin-right: 0px;
    float: left;
}
.cust_item_box .el-checkbox__input{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -7px;
}

.cust_item_box  .list_icon{
    height: 48px;
}

.el-table th{
    background: #FAFAFA;
    border-color: #EEEEF0;
    color: #000;
    font-weight: bold;
}
.el-table td{
    color: #666;
}
.el-pagination{
    font-weight: normal;
}
.el-form-item label{
    text-align: left;
}
.el-dialog__wrapper{
    background: rgba(0, 0, 0, 0.3);
}
.el-dialog{
    width: 840px;
}

i.el-icon-warning{
    color: #FAAD14;
}

.breadcrumb_wrap .el-breadcrumb__item:last-child .el-breadcrumb__inner{
    color: #0285FF;
}
.breadcrumb_wrap .el-breadcrumb__separator {
    color: #303133;
    font-weight: bold;
    font-size: 12px;
}